---
import SectionHeader from "../UI/SectionHeader.astro";
import Project from "./Project.astro";

// import defaultImg from "../../images/isekai-money.webp";
import sirImg from "../../images/sir-project.png";
import buterinImg from "../../images/buterin-project.png";
import sunnyRevivalImg from "../../images/sunny-revival.png";
import blogImg from "../../images/blog-project.png";
import { type TProjectProps } from "@/libs/types";
const projects: TProjectProps[] = [
  {
    id: "1",
    title: "Sir Trading",
    description:
      "Collateral-less leveraging protocol built on ethereum.",
    projectImage: sirImg,
    liveDemoUrl: "https://prototype.sir.trading",
  },
  {
    id: "2",
    title: "Buterin Cards",
    description: `NFT Project with over 536 ETH in trading Volume. "Introducing the Buterin Cards, a unique on-chain collection of 2,015 cards celebrating Ethereum's co-founder, Vitalik Buterin."`,
    projectImage: buterinImg,
    liveDemoUrl: "https://buterin.cards",
  },
  {
    id: "3",
    title: "Sunny-Revival",
    description:
      "An Ecommerce site built with shopify and hydrogen(Remix).",
    projectImage: sunnyRevivalImg,
    liveDemoUrl: "https://sunny-revival.com",
  },
  {
    id: "3",
    title: "Tarp's Blog",
    description:
      "A blog created with Astrojs, Turso and AWS.",
    projectImage: blogImg,
    liveDemoUrl: "https://www.travistarpley.com/blog",
  },
];
---

<div id="projects">
  <SectionHeader title="Projects" />
  <div class="grid md:grid-cols-2 gap-6 pt-12">
    {projects.map((project) => <Project {...project} />)}
  </div>
</div>
