---
interface Props {
  href: string;
  ariaLabel: string;
}
const { href, ariaLabel } = Astro.props;
---

<a
  class="border flex items-center gap-x-2 hover:bg-purple-300/20 hover:text-white border-purple-300 text-purple-300 rounded-sm p-2"
  href={href}
  aria-label={ariaLabel}
>
  <slot />
</a>
