---
import SectionHeader from "../UI/SectionHeader.astro";
import Project from "./Project.astro";
---

<div class="mx-auto w-[1000px]">
  <SectionHeader title="Projects" />
  <div class="grid grid-cols-2 gap-4">
    <Project />
  </div>
</div>
