---
import SectionHeader from "../UI/SectionHeader.astro";
import Project from "./Project.astro";
---

<SectionHeader title="Projects" />
<div class="grid grid-cols-2 gap-6 pt-12">
  <Project />
  <Project />
  <Project />
  <Project />
</div>
