---
export const prerender = true;
import RootLayout from "../../layouts/RootLayout.astro";
import BlogList from "@/components/Blog/BlogList.astro";
import Pagination from "@/components/UI/Pagination.astro";
import {
  getPublishedBlogs,
  getTotalAmountOfBlogs,
} from "@/libs/db/blog/queries";
const blogs = await getPublishedBlogs();
const total = await getTotalAmountOfBlogs();

let count = total.data?.["COUNT(*)"] ?? 0;
let pages = 1;
if (count > 10) {
  pages = Math.floor(count / 10);
}
---

<RootLayout title="Travis Tarpley | Blog">
  <div class="pt-[60px]"></div>
  <main class="flex justify-center px-4">
    <section class="">
      <h1 class="text-3xl py-4 text-gray-100 font-semibold">
        My Latest Posts
      </h1>

      <BlogList blogs={blogs} />
      <Pagination currentPage={1} totalPage={pages} />
    </section>
  </main>
</RootLayout>
