---
import RootLayout from "../layouts/RootLayout.astro";
import Home from "../components/Home/Home.astro";
import About from "../components/About/About.astro";
import { Image } from "astro:assets";
import pattern from "../images/pattern_cross-2.png";
import Projects from "../components/Projects/Projects.astro";
import Work from "@components/Work/Work.astro";
---

<RootLayout>
  <div
    style={{}}
    class=`fixed
      [mask-image:radial-gradient(ellipse_50%_50%_at_30%_30%,#000_20%,transparent_95%)]
      top-0 left-0 opacity-15 w-full h-screen`
  >
    <div>
      <Image alt="Svg Pattern" src={pattern} />
    </div>
  </div>
  <!-- <Sidebar /> -->
  <!-- <SocialsLeft display={loaded} /> -->
  <!-- <Loader display={loaded} /> -->
  <!-- <Navbar display={loaded} /> -->

  <Home />

  <div
    class="w-full border-t-2 border-purple-300/20 bg-background-100 z-10 pt-24"
  >
    <div
      class="mx-auto w-full lg:w-[1000px] px-4 bg-background-100"
    >
      <Work />
      <div class="py-24"></div>
      <Projects />
      <div class="py-24"></div>
      <About />
    </div>
  </div>

  <!-- <About /> -->
  <!-- <Work /> -->
  <!-- <Contact /> -->
</RootLayout>
