---
import RootLayout from "../layouts/RootLayout.astro";
export const prerender = false;
---

<RootLayout>
  <div class="mx-auto lg:w-[800px]">
    <button id="login">Login</button>
  </div>
  <script>
    const { signIn } = await import("auth-astro/client");
    (
      document.querySelector("#login") as HTMLButtonElement
    ).onclick = () => signIn("github");
  </script>
</RootLayout>
