---
import RootLayout from "../layouts/RootLayout.astro";
import { Auth } from "auth-astro/components";
import type { Session } from "@auth/core/types";
export const prerender = false;
---

<RootLayout>
  <div class="mx-auto w-[800px]">
    <Auth>
      {
        (session: Session) => {
          if (session) {
            return (
              <div class="">
                <h1 class="text-3xl text-center">
                  Logged In
                </h1>
                <div class="flex pt-10 justify-between">
                  <h4>User</h4>
                  <p>{session.user?.name}</p>
                </div>
                <div class="pt-4" />
                <button
                  class="p-2 rounded-md border"
                  id="logout"
                >
                  Log out
                </button>
              </div>
            );
          } else {
            return (
              <button class="p-3 border" id="login">
                Login in
              </button>
            );
          }
        }
      }
    </Auth>
  </div>

  <script>
    const actions = import("auth-astro/client");
    (
      document.querySelector("#login") as HTMLElement
    ).onclick = async () => {
      actions.then((a) => a.signIn());
    };
    (
      document.querySelector("#logout") as HTMLButtonElement
    ).onclick = () => actions.then((a) => a.signOut());
  </script>
</RootLayout>
