---

---

<div class="b"></div>
<style>
  .b {
    margin: 0;
    height: 100vh;
  }

  canvas {
    display: block;
    position: absolute;
    top: 0;
  }
</style>
<script>
  import * as THREE from "three";

  const w = 100;
  const h = 100;

  const renderer = new THREE.WebGLRenderer({ antialias: true });
  renderer.setSize(w, h);
  document.body.appendChild(renderer.domElement);

  const fov = 75;
  const aspect = 1;
  const near = 0.1;
  const far = 10;
  const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
  camera.position.z = 2;

  const scene = new THREE.Scene();
</script>
