---

---

<div class="b"></div>
<style>
  .b {
    margin: 0;
    height: 100vh;
  }

  canvas {
    display: block;
    position: absolute;
    top: 0;
  }
</style>
<script>
  import * as THREE from "three";
  import { OBJLoader, MTLLoader } from "three/examples/jsm/Addons.js";

  // Create the Three.js Scene
  var scene = new THREE.Scene();

  // Create a new Perspective Camera
  var camera = new THREE.PerspectiveCamera(
    5,
    window.innerWidth / window.innerHeight,
    1.2,
    2000,
  );
  camera.position.z = 25;

  // Create a Full Screen WebGL Renderer
  var renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
  renderer.setClearColor("#DDDDDD");
  renderer.setSize(100, 100);

  document.body.appendChild(renderer.domElement);

  // Make sure the project is responsive based on window resizing
  window.addEventListener("resize", () => {
    renderer.setSize(100, 100);
    camera.aspect = window.innerWidth / window.innerHeight;

    camera.updateProjectionMatrix();
  });

  // Add a light
  var light = new THREE.PointLight(0xffffff, 1.4, 1000);
  light.position.set(0, 15, 15);
  scene.add(light);

  // Defining a variable for our two models
  //@ts-ignore
  var ourObj;
  //@ts-ignore
  var ourObj2;

  // Create a material
  var mtlLoader = new MTLLoader();
  mtlLoader.load(
    "https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/glass.mtl",
    function (materials) {
      materials.preload();

      // Load the object
      var objLoader = new OBJLoader();
      objLoader.setMaterials(materials);
      objLoader.load("/tt.obj", function (object) {
        scene.add(object);

        //@ts-ignore
        ourObj = object;
        object.position.z -= 370;
        object.rotation.x = 200;
      });
    },
  );

  // Create a material
  var mtlLoader = new MTLLoader();
  mtlLoader.load(
    "https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/center.mtl",
    function (materials) {
      materials.preload();

      // Load the object
      var objLoader = new OBJLoader();
      objLoader.setMaterials(materials);
      objLoader.load("", function (object) {
        scene.add(object);
        ourObj2 = object;
        object.position.z -= 70;
        object.rotation.x = 250;
        //@ts-ignore
        this.tl = new TimelineMax();
        //@ts-ignore
        this.tl.from(ourObj2.scale, 2, {
          y: 0,
          x: 0,
          z: 0,
        });
        //@ts-ignore
        this.tl.from(ourObj2.position, 2, {
          y: 0,
          z: -30,
        });
        //@ts-ignore
        this.tl.from(
          //@ts-ignore
          ourObj.scale,
          2,
          { x: 1.5, y: 1.5, z: 0 },
          "-=2",
        );
        //@ts-ignore
        this.tl.from(ourObj.position, 1, { y: -20 }, "-=3");
      });
    },
  );

  var render = function () {
    requestAnimationFrame(render);

    // Rotate the objects indefinitely

    //@ts-ignore
    ourObj.rotation.z -= 0.01;

    //@ts-ignore
    ourObj2.rotation.z += 0.03;

    renderer.render(scene, camera);
  };

  // Call this to render the entire scene
  render();
</script>
