---
import HeaderLink from "./HeaderLink.astro";
---

<header
  id="header"
  class={`fixed  bg-background w-full top-0 drop-shadow-lg shadow-black
    sm:pb-0 z-10 duration-300 transition-all `}
>
  <div
    class="flex justify-between relative items-center px-4 md:px-24"
  >
    <a href={"/#Landing"}>
      <div class="bg-transparent" id="animated-logo">
        <h2
          class={`text-4xl bg-clip-text text-transparent bg-gradient-to-b
            from-white to-purple-400 font-semibold text-purple-300`}
        >
          TT
        </h2>
        <!-- <LogoAnimated3D /> -->
      </div>
      <!-- <div class="cursor-pointer"> -->
      <!--   <h1 class="text-light-100 text-3xl py-2 select-none">TT</h1> -->
      <!-- </div> -->
    </a>
    <div
      class="sm:flex items-center hidden text-light-200 py-4"
    >
      <div class="pr-4">
        <a
          class="border p-2 rounded-sm border-purple-400 duration-75
            hover:border-white transition-colors"
          href="/resume.pdf">Resume</a
        >
      </div>
      <HeaderLink title={"About"} link={"/#About"} />
      <HeaderLink title={"Blog"} link={"/blog"} />
    </div>
  </div>
</header>

<script>
  const header = window.document.querySelector("#header");
  let addedBg = true;
  window.addEventListener("scroll", (e) => {
    console.log(window.scrollY);
    if (window.scrollY > 0) {
      if (!addedBg) {
        header?.classList.add("bg-background");
        addedBg = true;
      }
    } else if (window.scrollY === 0) {
      if (addedBg) {
        header?.classList.remove("bg-background");
        addedBg = false;
      }
    }
  });
</script>
