---
interface Props {
  title: string;
  link: string;
}
const { title, link } = Astro.props;
---

<a class="mx-1 lg:mx-3 font-chivo" href={link}>
  <h1 class="hover:text-purple-300 transition-colors text-lg cursor-pointer">
    {title}
    <span class="text-purple-300">.</span>
  </h1>
</a>
