---

---

<div id="animated-logo"></div>
<style>
  canvas {
    display: block;
    top: 0;
  }
</style>
<script>
  import * as THREE from "three";
  import {
    FontLoader,
    TextGeometry,
  } from "three/examples/jsm/Addons.js";
  const w = window.innerWidth;
  const h = window.innerHeight;

  const renderer = new THREE.WebGLRenderer({
    antialias: true,
    alpha: true,
  });
  renderer.setSize(96, 96);
  document
    .querySelector("#animated-logo")
    ?.appendChild(renderer.domElement);
  // renderer.domElement.style.setProperty("position", "absolute");
  // renderer.domElement.style.setProperty("top", "0");

  const fov = 50;
  const aspect = 1;
  const near = 0.1;
  const far = 10;
  const camera = new THREE.PerspectiveCamera(
    fov,
    aspect,
    near,
    far,
  );
  camera.position.z = 2;

  const scene = new THREE.Scene();
  // const directionalLight = new THREE.DirectionalLight(
  //   0xffffff,
  //   0.1,
  // );
  // scene.add(directionalLight);
  const loader = new FontLoader();
  loader.load(
    "/helvetiker_regular.typeface.json",
    function (font: any) {
      const geometry = new TextGeometry("TT", {
        font: font,
        size: 3,
        height: 0.25,
        curveSegments: 8,
        bevelEnabled: true,
        bevelThickness: 0.2,
        bevelSize: 0.025,
        bevelOffset: 0,
        bevelSegments: 2,
      });
      geometry.center();
      // material, mesh
      const material = new THREE.MeshBasicMaterial({
        color: "#dcbdfc",
      });
      const mesh = new THREE.Mesh(geometry, material);
      scene.add(mesh);
      // render
      camera.position.set(0, 0, 8);
      camera.lookAt(0, 0, 0);
      function animate(t = 0) {
        requestAnimationFrame(animate);
        mesh.rotation.y = t * 0.001;

        renderer.render(scene, camera);
      }
      animate();
    },
  );
</script>
