---
interface Props {
  id: string;
}
const { id } = Astro.props;
---

<form method="POST">
  <input
    value={id.toString()}
    name="id"
    id="id"
    type="hidden"
  />
  <input type="hidden" name="action" value="delete" />
  <button
    type="submit"
    class="border border-red-400 hover:bg-red-400 p-2 hover:text-black
      text-red-400"
  >
    Delete
  </button>
</form>

<!-- on:submit|preventDefault={handleSubmit} -->
