---
interface Props {
  id: string;
  published: boolean;
}
const { id, published } = Astro.props;
---

<form method="POST">
  <input
    value={id.toString()}
    name="id"
    id="id"
    type="hidden"
  />
  {
    published && (
      <input
        type="hidden"
        name="published"
        value="published"
      />
    )
  }
  <input type="hidden" name="action" value="publish" />
  <button
    type="submit"
    class="border border-blue-400 hover:bg-blue-400 p-2 hover:text-black
      text-blue-400"
  >
    {published ? "Unpublish" : "Publish"}
  </button>
</form>

<!-- on:submit|preventDefault={handleSubmit} -->
