---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title?: string;
  description?: string;
  imageUrl?: string;
}
const { title, description, imageUrl } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title ?? SITE_TITLE}
      description={description ?? SITE_DESCRIPTION}
      image={imageUrl}
    />
    <!-- <ViewTransitions /> -->
  </head>
  <body
    class="text-white min-h-screen flex flex-col bg-background-100"
  >
    <div class="pt-[60px]"></div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
