---
interface Props {
  position?: "start" | "end";
}
let { position } = Astro.props;
if (!position) position = "start";
---

<div
  data-position={position}
  class="data-[position=end]:justify-end justify-start w-full flex"
>
  <div
    data-position={position}
    class="w-1/2 data-[position=start]:text-right data-[position=start]:pr-6 data-[position=end]:pl-6 flex justify-end"
  >
    <div>
      <h3 class="font-medium text-2xl">
        Frontend Developer
      </h3>
      <p class="text-gray-200 pt-2">
        <strong class="">SIR Trading</strong>
        - 2024/08 - Present
      </p>
      <p class="pt-4 text-gray-300">
        Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Facilis, esse suscipit ipsam quae sunt
        excepturi minima maiores perspiciatis nobis corrupti
        inventore quo eum similique exercitationem, a
        mollitia ex magni pariatur.
      </p>
    </div>
  </div>
</div>
