---
import SectionHeader from "../UI/SectionHeader.astro";
import OrbitingTech from "./OrbitingTech.svelte";
import WorkCard from './WorkCard.svelte'
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
const optimizedBackground = await getImage({src:'https://avatars.githubusercontent.com/u/93428946?v=4', format: 'webp',
width:200, height:200,
});
---

<div id='Work' class="border-black/30 bg-background w-full border-t-2 pt-8">
<SectionHeader title='Work'/>
  <div class="xl:w-[1200px] grid-cols-2 grid mx-auto">
    <OrbitingTech  />
    <div id='work' class="transition-all px-4 translate-y-5 duration-300 data-[visible=true]:translate-y-0 data-[visible=true]:opacity-100 opacity-0">
      <div>
        <WorkCard>
          <div slot='image'>
            <Image height={40} width={40} src={optimizedBackground.src} alt='Test' />
          </div >
        </WorkCard>

      </div>
    </div>
  </div>
</div>

<script>

import Observer from "../../utils/observer"; 
const workContainer = document.querySelector('#work')
if(workContainer) {
  Observer(workContainer)
}
  
</script>
