---
import SectionHeader from "../UI/SectionHeader.astro";
import Job from "./Job.astro";
import { type TWorkProps } from "@/libs/types";

const jobs: TWorkProps[] = [
  {
    title: "Sir Trade",
    jobPosition: "Fullstack Developer",
    description: "Nextjs blockchain developer.",
    startDate: "08/2024",
    endDate: "Present",
  },

  {
    title: "Isekai Money",
    position: "end",
    jobPosition: "Frontend Developer",
    description:
      "Lead development on a NEXT.js application. Created and architected subgraphs.",
    startDate: "09/2023",
    endDate: "04/2024",
  },
  {
    title: "Flip Solutions",
    position: "start",
    jobPosition: "Fullstack Junior Developer",
    description:
      "Developed and maintained chrome extensions and electron applications using React and Node.js. ",
    startDate: "01/2021",
    endDate: "02/2023",
  },
];
---

<div
  id="Work"
  class="border-black/30 bg-background w-full pt-8"
>
  <SectionHeader title="Work" />
  <div class="flex justify-center pt-8">
    <div class="bg-purple-300/30 p-2 rounded-sm">
      <span>Experience</span>
    </div>
  </div>
  <div class="flex flex-col gap-y-4 relative">
    <div
      class="hidden md:block absolute h-full w-[2px] left-1/2 bg-purple-300/30"
    >
    </div>
    <div class="pt-4"></div>
    {jobs.map((job) => <Job {...job} />)}
  </div>
</div>

<script>
  import Observer from "../../utils/observer";
  const workContainer = document.querySelector("#work");
  if (workContainer) {
    Observer(workContainer);
  }
</script>
