---
import OrbitingTech from "./OrbitingTech.svelte";
---

<div class="border-black/30 bg-background w-full border-t-2 pt-8">
  <div class="w-[1200px] grid-cols-2 grid mx-auto">
    <OrbitingTech client:load />
    <div>
      <div>
        <h1>Work</h1>
        <span>Test</span>
      </div>
    </div>
  </div>
</div>
