---
import SectionHeader from "../UI/SectionHeader.astro";
import Job from "./Job.astro";
---

<div
  id="Work"
  class="border-black/30 bg-background w-full pt-8"
>
  <SectionHeader title="Work" />
  <div class="flex justify-center pt-8">
    <div class="bg-purple-300/30 p-2 rounded-sm">
      <span>Experience.</span>
    </div>
  </div>
  <div class="flex flex-col gap-y-4 relative">
    <div
      class="hidden md:block absolute h-full w-[2px] left-1/2 bg-purple-300/30"
    >
    </div>
    <div class="pt-4"></div>
    <Job />
    <Job position="end" />
  </div>
</div>

<script>
  import Observer from "../../utils/observer";
  const workContainer = document.querySelector("#work");
  if (workContainer) {
    Observer(workContainer);
  }
</script>
